@import "../../../../scss/vars";
@import "../../../../scss/mixins";
.step-1-strategy {

  &__row {
    display: flex;

    justify-content: space-between;
    column-gap: 4.8rem;
    &:not(:last-child) {
      margin-bottom: 6rem;
    }
    &_one {
      justify-content: center;
    }
  }
  &__item {
    flex: 0 1 230px;
    align-self: flex-start;
  }
  &__site {
    flex: 0 1 490px;
  }
}

.item-step-1-strategy {
  display: block;
  &,
  > img {
    border-radius: 12px;
  }
  padding-bottom: 16.148%;
  @media (any-hover: hover) {
    &:hover {
      .item-step-1-strategy__name {
        opacity: 1;
      }
    }
  }
  &__name {
    position: absolute;
    left: 30px;
    top: 30px;
    color: $white;
    display: block;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    font-size: 2.2rem;
    line-height: calc(33 / 22 * 100%);
    z-index: 2;
    @include breakpoint($md-1, 0) {
      left: 20px;
      top: 20px;
    }
    @include breakpoint($md-3, 0) {
      font-size: 1.8rem;
    }
  }
  img {
    object-fit: fill;
  }
}
.site-step-1-strategy {
  padding-bottom: 27.87%;
  img {
    object-fit: fill;
  }
}

