@import "../../../../scss/mixins";
.scheme-about {
    &__text {
        @include breakpoint($md-4, 1) {
            max-width: 50%;
            padding-left: prc(130, 1530);
        }

        span {
            color: $Turquoise;
        }
    }
}
.diag-scheme-about {
    position: relative;

    padding-top: 17rem;

    @include breakpoint($md-1, 0) {
        padding-top: 8.5rem;
    }

    @include breakpoint($md-4, 0) {
        padding-top: 3rem;
    }

    &__line {
        width: 100%;
        height: 100px;
        background: #f4f8fa;
        border-radius: 12px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: prc(130, 1530);
            width: 3px;
            height: 100%;
            background: #ebf2f5;
        }

        @include breakpoint($md-4, 0) {
            height: 60px;
        }
    }

    &__grad {
        height: 100%;
        border-radius: 12px;
        background: linear-gradient(270deg, $blue 0%, $Turquoise 100%);
    }

    &__percent {
        position: absolute;

        @include breakpoint($md-1, 1) {
            top: -100px;
        }

        font-size: 30rem;
        line-height: calc(360 / 300 * 100%);
        display: inline-flex;

        span {
            align-self: flex-start;
            font-size: 8rem;
            line-height: calc(96 / 80 * 100%);
        }

        @include breakpoint($md-1, 0) {
            font-size: 19.5rem;
            bottom: 0;

            span {
                font-size: 5.2rem;
            }
        }

        @include breakpoint($md-3, 0) {
            bottom: 20px;
            font-size: 15rem;
        }

        @include breakpoint($md-4, 0) {
            font-size: 7rem;
            top: 0;

            span {
                font-size: 3rem;
            }
        }
    }
}

.desc-scheme-about {
    margin-top: 28px;

    &__items {
        display: flex;
        max-width: 1140px;
        justify-content: space-between;

        @include breakpoint($md-4, 1) {
            padding-left: prc(130, 1530);
        }

        column-gap: 20px;
    }

    &__item {
        flex: 0 1 230px;
    }

    &__text {
        font-size: 2.2rem;
        line-height: calc(33 / 22 * 100%);
        font-weight: 700;

        @include breakpoint($md-3, 0) {
            font-size: 1.8rem;
        }

        @include breakpoint($md-5, 0) {
            font-size: 1.6rem;
        }
    }
}