@import "../../scss/vars";
@import "../../scss/mixins";
.if{
    margin: 20rem 0;
    @include breakpoint($md-2, 0) {
        margin: 10rem 0;
    }

    @include breakpoint($md-5, 0) {
        margin: 6rem 0;
    }
    &__body{
        @include breakpoint($md-5, 1) {
            display: flex;
            margin: 0 -30px;
        }
       
    }
   
    &__col{
        @include breakpoint($md-5, 1) {
            padding: 0 30px;
            flex: 0 1 50%;
        }
        
    }
    &__footer {
        margin-top: 20rem;
        @include breakpoint($md-2, 0){
            margin-top: 10rem;
        }
        @include breakpoint($md-5, 0) {
            margin-top: 6rem;
        }
    }
    &__title{
        span{
            display: block;
        }
        @include breakpoint($md-5, 0) {
            margin-bottom: 4rem;
        }
    }
}