@import "../../../../../scss/vars";
@import "../../../../../scss/mixins";
@import "../../../../../scss/functions";
.second-strategy {
  @include breakpoint($md-4, 1) {
    margin-top: -60px;
  }
  @include breakpoint($md-4, 0) {
    column-gap: 10px;
  }
  &__col {
    justify-content: center;
    row-gap: 25px;
    @include breakpoint($md-4, 0) {
      row-gap: 18px;
    }

    &_first {
      .second-strategy__item {
        @include breakpoint($md-4, 1) {
          align-self: flex-end;
        }
        &-line {
          @include breakpoint($md-4, 1) {
            border-left: 2px dashed #2d3845;
            &::before {
              left: 0;
            }
            &::after {
              right: -10px;
              transform: translateY(-50%) rotate(45deg);
            }
          }
        }
      }
    }
    &_last {
      .second-strategy__item {
        @include breakpoint($md-4, 1) {
          align-self: flex-start;
        }
        &-line {
          @include breakpoint($md-4, 1) {
            border-right: 2px dashed #2d3845;
            &::before {
              left: 100%;
            }
            &::after {
              left: -10px;
              transform: translateY(-50%) rotate(-135deg);
            }
          }
        }
      }
    }
  }
  &__texts {
    display: flex;

    justify-content: space-between;
    > *:last-child {
      text-align: right;
    }
  }
  &__lineAndText {
    display: flex;
    flex-direction: column;
    @include breakpoint($md-4, 1) {
      width: prc(135, 345);
    }
    &_first {
      align-self: flex-end;
    }
    &_last {
      align-self: flex-start;
    }
    @include breakpoint($md-4, 0) {
      align-self: stretch;
    }
  }
  &__text {
    @include breakpoint($md-4, 0) {
      flex: 1 1 auto;
    }
    margin-top: -50px;
    align-self: flex-start;
    @include breakpoint($md-5, 0) {
      font-size: 1.6rem;
    }
  }
  &__line {
    &::before,
    &::after {
      top: 50%;
      border-top: 2px solid #2d3845;
      border-right: 2px solid #2d3845;
      width: 10px;
      height: 10px;
    }
    &::before {
      left: -10px;
      transform: translateY(-50%) rotate(-135deg);
    }
    &::after {
      right: -10px;
      transform: translateY(-50%) rotate(45deg);
    }
  }
  &__item {
    &-line {
      min-height: 80px;
      min-width: 0;
      @include breakpoint($md-4, 1) {
        border: none;
        border-top: 2px dashed #2d3845;
      }

      border-radius: 6px;
      position: relative;
      @include breakpoint($md-2, 0) {
        min-height: 60px;
      }
      @include breakpoint($md-4, 0) {
        height: 100%;
        align-self: center;
        min-height: 90px;
      }
      &::before {
        border-top: 2px solid #2d3845;
        border-right: 2px solid #2d3845;
        width: 10px;
        height: 10px;
        bottom: -10px;
        transform: translateX(-50%) rotate(135deg);
      }
      &::after {
        @include breakpoint($md-4, 1) {
          border-top: 2px solid #2d3845;
          border-right: 2px solid #2d3845;
          width: 10px;
          height: 10px;
          top: 0;
        }
        @include breakpoint($md-4, 0) {
          top: -3px;
          left: 50%;
          border: 10px solid transparent;
          border-left: 10px solid #2d3845;
          transform: translateX(-50%) rotate(90deg);
        }
      }
    }
  }
}

.item-second-strategy {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 30px 0;
  background-color: $dark;
  @include breakpoint($md-3, 0) {
    padding: 20px 0;
  }
  @include breakpoint($md-4, 0) {
    padding: 10px 0;
  }
  svg {
    max-width: 100%;
  }
  &__text,
  &__month {
    color: $white;
  }
  &__text,
  &__months {
    padding: 0 30px;
    @include breakpoint($md-3, 0) {
      padding: 0 20px;
    }
    @include breakpoint($md-4, 0) {
      padding: 0 10px;
    }
  }
  &__text {
    max-width: 170px;
    flex: 1 1 auto;
    line-height: calc(30 / 20 * 100%);
    @include breakpoint($md-5, 0) {
      font-size: 1.4rem;
    }
  }
  &__search-svg {
    align-self: flex-end;
    margin-top: -45px;
    margin-right: 10px;
  }
  &__months {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    @include breakpoint($md-4, 0) {
      gap: 7px;
    }
  }
  &__month {
    font-size: 1.2rem;
    line-height: calc(16 / 12 * 100%);
    @include breakpoint($md-4, 0) {
      font-size: 1rem;
    }
  }
}
