@import "../../scss/vars";
@import "../../scss/mixins";

.intro {
  &__container {
    position: relative;
    z-index: 1;
  }

  &__wrapper {
    position: relative;
  }

  &__image {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(750 / 1920 * 100%);
    padding-bottom: 39%;

    @include breakpoint($md-4, 0) {
      top: 20%;
    }

    @include breakpoint($md-5, 0) {
      top: 0;
      position: static;
      width: 100%;
      transform: translateY(0%);
      margin-bottom: 4rem;
      padding-bottom: 70%;

      img {
        object-fit: fill;
      }
    }
  }
}





