@import "../../../../../scss/vars";
@import "../../../../../scss/mixins";
.itemIntro-sub {
    display: flex;
    flex-direction: column;


    &__block {
        flex: 1 1 auto;
        padding: 25px;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        background: $white;

        &-light {
            background: $lightBackground;
        }

        @include breakpoint($md-3, 1) {
            margin-bottom: 20px;
        }

        @include breakpoint($md-1, 0) {
            padding: 20px;
        }

        >* {
            &:first-child {
                flex: 1 1 auto;
            }
        }
    }

    &__label {
        line-height: calc(30 / 20 * 100%);
        margin-bottom: 30px;

        @include breakpoint($md-1, 0) {
            margin-bottom: 20px;
        }

        @include breakpoint($md-4, 0) {
            margin-bottom: 10px;
        }
    }

    &__list {
        @include breakpoint($md-4, 0) {
            display: flex;
            gap: 16px;
        }
    }

    &__item {
        color: $lightGray;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: calc(27 / 18 * 100%);

        @include breakpoint($md-4, 0) {
            font-size: 1.6rem;
        }

        @include breakpoint($md-4, 1) {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        span {
            font-weight: 600;
            color: $dark;
            display: block;
        }

        &_gray {
            span {
                color: $lightGray;
            }
        }

        &.gradient-text {
            span {
                background-image: linear-gradient(270deg, $blue 0%, $Turquoise 100%);
                background-clip: text;
                color: transparent;
            }
        }
    }

    &__bot {
        padding-left: 25px;

        @include breakpoint($md-1, 0) {
            padding-left: 25px;
        }

        @include breakpoint($md-3, 0) {
            display: none;
        }
    }
}