@import "../../../../scss/vars";
@import "../../../../scss/mixins";
.items-reviews{
    overflow: visible;
    .swiper-wrapper {
        @include breakpoint($md-4, 0) {
            flex-direction: column;
        }
    }
    &__item{
        width: 880px;
        margin-right: 160px;

        @include breakpoint($md-2, 0) {
            margin-right: 100px;
            width: 540px;
        }

        @include breakpoint($md-4, 0) {
            margin-right: 0;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 100px;
            }
        }

        @include breakpoint($md-5, 0) {
            &:not(:last-child) {
                margin-bottom: 60px;
            }
        }
    }
}
