$maxWidth: 1920;
$maxWidthContainer: 1330;
$maxWidthContainerMore: 1550;
$z-index-header: 1000;
$white: #fff;
$blue: #1b558d;
$Turquoise: #379bad;
$green: #30a73b;
$dark: #2d3845;
$DarkSupport: #6f7b7e;
$lightGray: #8b95a0;
$lightBackground: #f4f8fa;
$black: #000;
$md-1: $maxWidthContainer+25;
$md-2: 1024;
$md-3: 992;
$md-4: 768;
$md-5: 525;
$fontFamily: "Nunito Sans";
$fontSize: 14;