@import "../../scss/vars";
@import "../../scss/mixins";

.contacts {
    margin-bottom: 20rem;
    @include breakpoint($md-1, 0) {
        margin-bottom: 10rem;
    }

    @include breakpoint($md-5, 0) {
        margin-bottom: 6rem;
    }
    &__info{
        margin-bottom: 10rem;
        @include breakpoint($md-3, 0) {
            row-gap: 8rem;
            margin-bottom: 8rem;
        }
    
        @include breakpoint(660, 0) {
            margin-bottom: 2rem;
        }
    }
}