@import "../../../../scss/vars";
@import "../../../../scss/mixins";
.reviews-content{
	&__text{
		margin: 4rem 0;
		font-size: 2.6rem;
		font-weight: 400;
		line-height: calc(41 / 26 * 100%);
		p{
			&:not(:last-child){
				margin-bottom: 20px;
				@include breakpoint($md-3, 0){
					margin-bottom: 10px;
				}
			}
		}
		@include breakpoint($md-1, 0){
			font-size: 2.3rem;
		}
		@include breakpoint($md-3, 0){
			margin: 2.5rem 0;
			font-size: 2rem;
		}
		@include breakpoint($md-4, 0){
			margin: 2.5rem 0;
		}
		@include breakpoint($md-5, 0){
			font-size: 1.8rem;
		}
	}
	&__more{
		display: inline-flex;
		align-items: center;
		i{
			margin-left: 20px;
			@include breakpoint($md-2, 0){
				background: $lightBackground;
			}
		}
	}
}
.title-reviews-content{
	
	@include breakpoint($md-5, 1){
		display: flex;
		align-items: center;
	}
	> *:not(:last-child){
		margin-right: 20px;
		@include breakpoint($md-5, 0){
			margin: 0 0 10px 0;
		}
	}
	&__name{
		display: inline-flex;
		align-items: center;
		&::before{
			content: "";
			margin-right: 10px;
			width: 20px;
			height: 2px;
			background: $dark;

		}
	}
	&__position{
		font-size: 1.4rem;
		color: $lightGray;
		line-height: calc(19 / 14 * 100%);
	}
}