@import "../../../../scss/vars";
@import "../../../../scss/mixins";
.feedback-header {
    display: flex;
    align-items: center;

    &__item {
        line-height: calc(30 / 20 * 100%);
        color: $Turquoise;

        &_tel {
            margin-right: 9rem;

            @include breakpoint($md-1, 0) {
                margin-right: 6rem;
            }

            @include breakpoint($md-3, 0) {
                margin-right: 0;
            }

            @include breakpoint($md-5, 0) {
                margin: 2rem 0;
            }
        }

    }
}

.item-feedback-header {
    display: flex;
    align-items: center;

    @include breakpoint($md-3, 0) {
        margin: 3rem 0 2rem;
    }

    @include breakpoint($md-5, 0) {
        margin-top: 2rem;
    }

    &__text {
        flex: 0 0 auto;
    }

    &__btn {
        color: inherit;
        margin-left: 20px;
        position: relative;

        

        @include breakpoint($md-3, 0) {
            background: linear-gradient(270deg, #1B558D 0%, #379BAD 100%);
            svg path {
                fill: $white;
            }
        }
    }
}